@import url(https://fonts.googleapis.com/css?family=Muli&display-swap);

*
{
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html
{
	font-size: 62.5%;
	font-family: 'Muli', sans-serif;
}

section, header
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1,h2,p,label
{
	margin-bottom: 1rem;
}

p,a,label
{
	font-size: 1.5rem;
	font-weight: 700;
	color: black;
}

a:hover
{
	text-decoration: underline;
}

a:visited
{
	color: royalblue;
}

input
{
	display: block;
	margin-bottom: 1rem;
	margin-bottom: 2rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
	-moz-appearance:textfield;
}


button
{
	padding: 1rem;
	margin-bottom: 1rem;
	margin-right: 2rem;
	border-radius: 1rem;
	background-color: royalblue;
	color: white;
}
